---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Reference from '../components/Reference.astro';
import KontaktniFormular from '../components/Kontakt.vue';
import '../styles/global.css'
---


<MainLayout title="Tvorba webů">
	<div class="fixed top-0 left-0 -z-10 h-full w-full">
		<div class="relative h-full w-full bg-[#222E50]">
			<div class="absolute bottom-auto left-auto right-0 top-0 h-125 w-125 -translate-x-[30%] translate-y-[20%] rounded-full bg-[#404551] opacity-50 blur-[80px]"></div>
		</div>
	</div>
	<main class="max-w-6xl mx-auto px-4 py-12">
		<section id="hero" class="bg-[#007991] py-20 lg:py-32 rounded-3xl border border-[#404551] mb-20">
			<Hero />
		</section>
		<section id="o-mne" class="bg-[#007991] py-20 lg:py-32 rounded-3xl border border-[#404551] mb-20">
			<About />
		</section>

		<section id="kontakt" class="bg-[#007991] py-20 lg:py-32 rounded-3xl border border-[#404551] mb-20">
			<div class= "p-8">
				<h2 class="text-4xl font-bold mb-6 text-center">Napište mi</h2>
				<KontaktniFormular client:visible />
			</div>
		</section>

	</main>
</MainLayout>