---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Reference from '../components/Reference.astro';
import Cenik from '../components/Cenik.astro';
import Sluzby from '../components/Sluzby.astro';
import KontaktniFormular from '../components/Kontakt.vue';
import '../styles/global.css'
import { Image } from "astro:assets";
import bgImage from "../assets/bg.png";
---


<MainLayout title="Tvorba webů">
	<div class="fixed top-0 left-0 -z-10 h-full w-full">
		<div class="relative h-full w-full bg-[#222E50]">
			<div class="absolute bottom-auto left-auto right-0 top-0 h-125 w-125 -translate-x-[30%] translate-y-[20%] rounded-full bg-[#404551] opacity-50 blur-[80px]"></div>
		</div>
	</div>      

	<div class="fixed w-full h-full inset-0 -z-10 overflow-hidden bg-[#222E50]">
  <Image 
    src={bgImage} 
    alt="" 
    fetchpriority="high" 
    loading="eager" 
    class="h-full w-full object-center opacity-30 blur-xs"
  />
</div>
	<main class="max-w-6xl mx-auto px-4 py-12">
		<section id="hero" class="bg-[#005a6d]/70 py-20 lg:py-32 rounded-3xl border border-[#404551] mb-20">
			<Hero />
		</section>
		<section id="o-mne" class="bg-[#005a6d]/70 py-20 lg:py-32 rounded-3xl border border-[#404551] mb-20">
			<About />
		</section>
		<section id="cenik" class="bg-[#005a6d]/70 py-20 lg:py-32 rounded-3xl border border-[#404551] mb-20">
			<Cenik />
		</section>
		<section id="sluzby" class="bg-[#005a6d]/70 py-20 lg:py-32 rounded-3xl border border-[#404551] mb-20">
			<Sluzby />
		</section>
		<section id="kontakt" class="bg-[#005a6d]/70 py-20 lg:py-32 rounded-3xl border border-[#404551] mb-20">
			<div class= "px-8">
				<h2 class="text-4xl font-bold mb-6 text-center">Napište mi</h2>
				<KontaktniFormular client:visible />
			</div>
		</section>

	</main>
</MainLayout>