---
// About.astro

import { Image } from "astro:assets";
import Loga from "../assets/astro.png";
---

<div class="container mx-auto px-4 text-center">
  <p class="text-2xl md:text-2xl mb-10 max-w-2xl mx-auto">
    Vítejte na mé webové stránce. Jsem vývojář se zaměřením na moderní webové technologie.
  </p>
  <p class="text-lg md:text-xl mb-10 max-w-2xl mx-auto">
    Mám vášeň pro tvorbu webových aplikací a neustále se učím nové technologie.
  </p>
  <div class="flex flex-col md:flex-row justify-center gap-12">
    <div class="md:col-span-2 shadow-x1/20 px-8 rounded-3xl border border-slate-500 p-6 bg-[#439A86]/90">
      <h3 class="mb-5 text-2xl font-bold text-white">
        Moderní Tech-Stack
      </h3>
      <p class="">
        Používám technologie jako Astro, Vue.js a Tailwind pro maximální rychlost.
      </p>
    </div>
  </div>
  <div class="flex flex-col md:flex-row justify-center gap-12 mt-12">
    <div class="md:col-span-2 shadow-x1/20 px-8 rounded-3xl border border-slate-500 p-6 bg-[#439A86]/90 flex-col">
      <h3 class="mb-5 text-2xl font-bold text-white">
        Kdo všechno využívá Astro framework?
      </h3>
      <div class="flex justify-center w-full">
        <Image 
          src={Loga} 
          alt="Loga společností používajících Astro" 
          width={300} 
          height={200} 
          class="block mx-auto rounded-xl shadow-md transition-transform duration-300 group-hover:scale-105" 
          style="
            -webkit-mask-image: radial-gradient(circle, black 60%, transparent 100%);
            mask-image: radial-gradient(circle, black 60%, transparent 100%);
          "
        />
      </div>
    </div>
    <div class="shadow-x1/20 px-8 rounded-3xl border border-slate-500 bg-[#439A86]/90 flex flex-col items-start justify-center h-64">
      <h3 class="mb-5 text-2xl font-bold text-white">Jaké další technologie používám:</h3>
      <div class="grid gap-4 md:grid-cols-2">
        <h3 class="rounded-2xl border border-white/10 bg-[#222E50]/25 p-4 text-white/90">Shoptet</h3>
        <h3 class="rounded-2xl border border-white/10 bg-[#222E50]/25 p-4 text-white/90">WordPress</h3>
        <h3 class="rounded-2xl border border-white/10 bg-[#222E50]/25 p-4 text-white/90">Joomla</h3>
      </div>
    </div>
  </div>
</div>


