<div class="container mx-auto px-4 text-center">
  <h1 class="text-4xl md:text-6xl font-extrabold text-slate-800 mb-6 tracking-tight rounded-3xl border border-slate-500 p-6 bg-linear-to-r from-[#439A86] to-[#BCD8C1] inline-block">
    Tvořím moderní a jednoduché weby
  </h1>
  <p class="text-2xl md:text-2xl mb-10 max-w-2xl mx-auto">
    Pomůžu vám růst v digitálním světě. Vyvíjím rychlé a spolehlivé weby na míru vašim potřebám.
  </p>
  <div class="flex flex-col sm:flex-row justify-center gap-4">
    <a 
    href="#kontakt" 
    class="bg-[#BCD8C1]/70 hover:bg-[#BCD8C1] font-bold py-3 px-8 rounded-lg transition border border-slate-500"
    >
      Kontaktujte mě
    </a>
    <a 
    href="#sluzby" 
    class="bg-[#BCD8C1]/70 hover:bg-[#BCD8C1] font-bold py-3 px-8 rounded-lg transition border border-slate-500"
    >
      Moje služby
    </a>
  </div>
</div>